---
title: About
index: 0
description: Software engineer living and working in Silicon Valley.
---

:markdown
  My name is Oleg. Born in Ukraine, I've lived most of my life in the Bay State, and moved to the SF Bay Area after finishing school.

  I recently graduated with a BS in Computer Engineering from [Northeastern University](http://www.northeastern.edu/), along with minors in (surprise!) Computer Science and Music Performance. My interests lie in mobile and embedded systems, scalable and distributed systems, security, machine learning, and high-performance computing, among others.

  When I'm not busy with work or side projects, I tend to enjoy sleeping, browsing <a target="_blank" href="http://i.imgur.com/L7lTalw.gif">cat pictures</a> on reddit, and hitting up the gym.