---
title: Education
index: 1
js_partials: cards-flip
---

.card.circle
  .front{:style => "background-image: url(/images/education/northeastern.png); background-size: 100%;"}
    .align-bottom{:style => "color: #a80200;"} Northeastern University, <b>'16</b>
  .back{:style => "background: #a80200; color: white;"}>
    %h3 Northeastern University, <b>'16</b>
    B.S. in Computer Engineering
    <br />
    Minor in Music Performance

.card.circle
  .front{:style => "background: url(/images/education/wachusett.png); background-size: 100%;"}
    .align-bottom{:style => "color: #2d5c33;"} Wachusett Reg. High School, <b>'11</b>
  .back{:style => "background: #2d5c33; color: white;"}>
    %h3 Wachusett Reg. High School, <b>'11</b>
    <i>Mu Alpha Theta</i>,<br />Horatio Alger Scholar,<br />AP Scholar with Distinction
