---
title: Employment
index: 2
description: A few sources of professional experience.
css_partials: sprites/education
---

.employment
  .company AdSense team, Google
  .position Software Engineering Intern
  .when June 2014 - December 2014

.employment
  .company Crashlytics team, Twitter
  .position Software Engineering Intern
  .when June 2013 - December 2013

.employment
  .company Department of Electrical & Computer Engineering, Northeastern University
  .position Embedded Systems Developer, EECE 4534 Lab Assistant
  .when December 2011 - Present

.employment
  .company ResNet Resource Center, Northeastern University
  .position Technician, Developer
  .when June 2011 - Present

.employment
  .company TraceMyIP, LLC.
  .position Developer, Editor
  .when July 2010 - August 2011
