---
title: Employment
index: 2
description: A few sources of professional experience.
js_partials: cards-flip
css_partials: sprites/education,sprites/employment
---

.card.circle
  .front.sprite-employment-stealth
    .align-bottom{:style => "color: white;"}
      Early-stage startup
  .back{:style => "background: black; color: white;"}>
    %h3
      Early-stage startup
    .position Software Engineer
    .when Starting June 2016

.card.circle
  .front.sprite-employment-google-new
    .align-bottom{:style => "color: #009955;"}
      Google, Security Team
  .back{:style => "background: #009955; color: white;"}>
    %h3
      Google, Security Team
    .position Software Engineering Intern
    .when September 2015 - December 2015

.card.circle
  .front.sprite-employment-shape
    .align-bottom{:style => "color: white;"}
      Shape Security
  .back{:style => "background: black; color: white;"}>
    %h3
      Shape Security
    .position KPCB Engineering Fellow
    .when June 2015 - September 2015

.card.circle
  .front.sprite-employment-google
    .align-bottom{:style => "color: #186dee;"}
      Google, Search Infrastructure
  .back{:style => "background: #186dee; color: white;"}>
    %h3
      Google, Search Infrastructure
    .position Software Engineering Intern
    .when June 2014 - December 2014

.card.circle
  .front.sprite-employment-nullient
    .align-bottom{:style => "color: #696969;"}
      Nullient Software
  .back{:style => "background: #696969; color: white;"}>
    %h3
      Nullient Software
    .position Owner, Developer
    .when June 2011 - Present

.card.circle
  .front.sprite-employment-twitter
    .align-bottom{:style => "color: #1ab2e8;"}
      .sprite-employment-twitter-crashlytics-tiny{:style => "display: inline-block; margin-bottom: -3px; margin-right: -3px;"}
      Twitter, Crashlytics/Fabric
  .back{:style => "background: #1ab2e8; color: white;"}>
    %h3
      .sprite-employment-twitter-crashlytics-tiny{:style => "display: inline-block;"}
      Twitter, Crashlytics/Fabric
    .position Software Engineering Intern
    .when June 2013 - December 2013

.card.circle
  .front.sprite-education-northeastern
    .align-bottom{:style => "color: #a80200;"} ResNet Resource Center,<br />Northeastern University
  .back{:style => "background: #a80200; color: white;"}>
    %h3 ResNet Resource Center, Northeastern University
    .position Technician, Developer
    .when June 2011 - Present

.card.circle
  .front.sprite-education-northeastern-bw
    .align-bottom{:style => "color: #999;"} Dep't of Elec. & Comp. Engr.,<br />Northeastern University
  .back{:style => "background: #999; color: white;"}>
    %h3 Dep't of Elec. & Comp. Engr., Northeastern University
    .position Developer, EECE 4534 Lab Assistant
    .when December 2011 - Present

.card.circle
  .front.sprite-employment-tracemyip
    .align-bottom{:style => "color: #030504;"} TraceMyIP, LLC.
  .back{:style => "background: #030504; color: white;"}>
    %h3 TraceMyIP, LLC.
    .position Developer, Editor
    .when July 2010 - August 2011
