---
title: Employment
index: 2
---

%h2 Twitter, Crashlytics team

%h2 ResNet Resource Center, Northeastern University

%h2 Department of Electrical & Computer Engineering, Northeastern University

%h2 TraceMyIP, LLC.
