---
title: About
index: 0
---

:maruku
  My name is **Oleg**. Born in Ukraine, I've lived most of my life in the Bay State.

  I'm currently a Computer Engineering undergrad at [Northeastern University](http://www.northeastern.edu/), interested in mobile and embedded systems. I'm also minoring in Music Performance and playing 1<sup>st</sup> clarinet in Northeastern's Wind Ensemble and Symphony Orchestra.

  When I'm not busy with schoolwork, side projects, or research, I tend to enjoy sleeping, browsing cat pictures on reddit, and trying to get big at the gym.
