---
title: About
index: 0
description: Computer Engineering undergrad at Northeastern University in Boston.
---

:markdown
  My name is Oleg. Born in Ukraine, I've lived most of my life in the Bay State, and am soon moving to the SF Bay Area.

  I'm currently a graduating Computer Engineering undergrad at [Northeastern University](http://www.northeastern.edu/), interested in mobile and embedded systems, machine learning, security, and high-performance computing, among other things. I'm also minoring in Music Performance and (surprise!) Computer Science.

  When I'm not busy with schoolwork, side projects, or research, I tend to enjoy sleeping, browsing <a target="_blank" href="http://i.imgur.com/L7lTalw.gif">cat pictures</a> on reddit, and hitting up the gym.

  This summer I've decided to join an (awesome) early-stage stealth-mode startup in Palo Alto, CA.
