---
title: Projects
index: 3
description: A list of several projects I've worked on over the years.
css_partials: sprites/projects
---

%table.project
  %tr
    %td
      .sprite-projects-ncbpm.image
    %td
      %h2
        Non-Invasive Continuous Blood Pressure Monitor
      :markdown
        Novel blood pressure monitor that uses impedance plethysmography and modern mobile technology. Northeastern University electrical and computer engineering capstone project.
      .hashtag #capstone #embedded #mobile #medical

%table.project
  %tr
    %td
      .sprite-projects-ijetblue.image
    %td
      %h2
        iJetBlue
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/yhack2015-c1b9mw", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/ksmizzle/YHack2015", :target => "_blank"}
      :markdown
        YHack '15 team project: quickly find flights that meet your personalized needs.
      .hashtag #hackathon #reactnative #mongodb #nodejs #python

%table.project
  %tr
    %td
      .sprite-projects-fridgebouncer.image
    %td
      %h2
        FridgeBouncer
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/fridgebouncer", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/HackMIT-2015", :target => "_blank"}
      :markdown
        HackMIT '15 team project: keep track of what`s in your fridge like it's the 21st century.
      .hashtag #hackathon #nativescript #clarifai #nodejs #python #prizewinning

%table.project
  %tr
    %td
      .sprite-projects-taski.image
    %td
      %h2
        Taski
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/taski", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/njdup/chimehacks", :target => "_blank"}
      :markdown
        CHIMEHACK 2 team project: customizable, inconspicuous alert messenger for girls and women who are victims of violence.
      .hashtag #hackathon #twitter #android #abuseprevention

%table.project
  %tr
    %td
      .sprite-projects-parallelizingcudaconvnet2.image
    %td
      %h2
        Parallelizing <code>cuda-convnet2</code>
        %span#social
          %a.sprite-projects-newspaper{:href => "/papers/parallelizingcudaconvnet2.pdf", :target => "_blank"}
      :markdown
        Parallelizing the data generation component of cuda-convnet2, Google's convolutional neural network framework. Final team project for High-Performance Computing.
      .hashtag #highperformancecomputing #cuda #openmp #mpi #academic

%table.project
  %tr
    %td
      .sprite-projects-svids.image
    %td
      %h2
        svIDS
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/svids", :target => "_blank"}
          %a.sprite-projects-newspaper{:href => "/papers/svids.pdf", :target => "_blank"}
      :markdown
        Intrusion detection system (IDS) and enforcer based on Hidden Markov Models. Final team project for Algorithms and Data.
      .hashtag #algorithms #hmm #academic

%table.project
  %tr
    %td
      .sprite-projects-billiardbot.image
    %td
      %h2
        BilliardBot
        %span#social
          %a.sprite-common-github{:href => "https://github.com/Paranoid-Androids/BilliardBot", :target => "_blank"}
          %a.sprite-projects-www{:href => "https://rawgit.com/Paranoid-Androids/BilliardBot/master/billiardbot.html", :target => "_blank"}
          %a.sprite-projects-newspaper{:href => "/papers/billiardbot.pdf", :target => "_blank"}
      :markdown
        Web-based pool-playing bot. Final group project for Artificial Intelligence.
      .hashtag #artificialintelligence #matterjs #casperjs #expectimax #academic

%table.project
  %tr
    %td
      .sprite-projects-txtroulette.image
    %td
      %h2
        TxtRoulette
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/txtroulette-aq5qm", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/TxtRoulette", :target => "_blank"}
      :markdown
        MakeBU '15 team project: Chatroulette &agrave; la SMS, written in Go.
      .hashtag #hackathon #twilio #golang #prizewinning

%table.project
  %tr
    %td
      .sprite-projects-force.image
    %td
      %h2
        Force
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/force-5lh3p", :target => "_blank"}
      :markdown
        HackMIT '14 team project: a system for novel gesture-based environmental interaction.
      .hashtag #hackathon #myo #arduino #infrared #ge #quirky #prizewinning

%table.project
  %tr
    %td
      .sprite-projects-angoide.image
    %td
      %h2
        AnGoIde
        %span#social
          %a.sprite-projects-www{:href => "http://www.nullient.com/angoide/", :target => "_blank"}
      :markdown
        Native Google Go IDE for Android.
      .hashtag #nullient #android #golang

%table.project
  %tr
    %td
      .sprite-projects-plateonic.image
    %td
      %h2
        Plateonic
        %span#social
          %a.sprite-projects-www{:href => "http://devpost.com/software/force-5lh3p", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/Platetonic", :target => "_blank"}
      :markdown
        HackBeanpot '14 team project: an app to connect people at local restaurants based on their tastes in food.
      .hashtag #hackathon #40hours #nosleep #android #nodejs

%table.project
  %tr
    %td
      .sprite-projects-default.image
    %td
      %h2
        sochat
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/sochat", :target => "_blank"}
      :markdown
        Secure server-based instant messaging service, based on a modified Needham-Schroeder protocol. Final team project for Network Security.
      .hashtag #networksecurity #academic #partner

%table.project
  %tr
    %td
      .sprite-projects-website.image
    %td
      %h2
        osv.im
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/osv.im", :target => "_blank"}
          %a.sprite-projects-speedmeter{:href => "http://gtmetrix.com/reports/osv.im/23VjcIgr", :target => "_blank"}
      :markdown
        CDN-hosted personal website.
      .hashtag #www #nanoc #haml #ruby #html #sass #javascript #aws #s3 #cloudfront

%table.project
  %tr
    %td
      .sprite-projects-curbview.image
    %td
      %h2
        CurbView
        %span#social
          %a.sprite-employment-twitter{:href => "https://twitter.com/_CurbView", :target => "_blank"}
      :markdown
        Startup to revamp finding parking in Boston by using video sensors and mobile technology. Won 3<sup>rd</sup> place in NU Husky Startup Challenge '13.
      .hashtag #startup #mobile #computervision #c

%table.project
  %tr
    %td
      .sprite-projects-default.image
    %td
      %h2
        %code png2c
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/png2c", :target => "_blank"}
      :markdown
         Utility to convert sprites and other PNG images into an embeddable bitmap C header/source file.
      .hashtag #c #libpng

%table.project
  %tr
    %td
      .sprite-projects-crashlyticspebble.image
    %td
      %h2
        Crashlytics for Pebble
      :markdown
        Pebble app for displaying basic Crashlytics statistics, created during a Twitter Hack Week in 2013.
      .hashtag #c #pebble #android #hackweek

%table.project
  %tr
    %td
      .sprite-projects-eegdaq.image
    %td
      %h2
        EEG DAQ Toolchain
      :markdown
        Data acquisition toolchain for electroencephalogram (EEG) signals, developed for use as a frontend to a brain-computer interface (BCI) system. Final group project for Microprocessor-based Design.
      .hashtag #embeddedsystems #fpga #dsp #gui

%table.project
  %tr
    %td
      .sprite-projects-mipsprocessor.image
    %td
      %h2
        Advanced MIPS Processor
      :markdown
         Five-cycle pipelined MIPS processor with forwarding, hazard detection, and branch optimization. Final team project for Computer Architecture.
      .hashtag #computerarchitecture #verilog #academic

%table.project
  %tr
    %td
      .sprite-projects-everstudent.image
    %td
      %h2
        Everstudent
        %span#social
          %a.sprite-projects-googleplay{:href => "https://play.google.com/store/apps/details?id=com.olegvaskevich.everstudent&hl=en", :target => "_blank"}
          %a.sprite-projects-www{:href => "http://www.webmultimeter.com/Everstudent/", :target => "_blank"}
      :markdown
        Simple student planner app that also exports classes and assignments to Evernote, with in-app billing & advertising. 50,000+ downloads.
      .hashtag #android

%table.project
  %tr
    %td
      .sprite-projects-wm.image
    %td
      %h2
        Web Multimeter
        %span#social
          %a.sprite-projects-www{:href => "http://www.webmultimeter.com/WebMul/", :target => "_blank"}
      :markdown
        USB-connected device for displaying realtime information such as website analytics. Cross-platform software can be extended using plug-ins to provide extended functionality. Also added audible, email, SMS, and Facebook notifications.
      .hashtag #arduino #teensy #c #c++ #qt4 #www

%table.project
  %tr
    %td
      .sprite-projects-pwa.image
    %td
      %h2
        Print Without Ads
        %span#social
          %a.sprite-projects-firefox{:href => "https://addons.mozilla.org/en-US/firefox/addon/print-without-ads/", :target => "_blank"}
      :markdown
        Firefox add-on for removing ads prior to printing in order to conserve ink and paper. Created for a high school community service project.
      .hashtag #firefox #javascript #xml

%table.project
  %tr
    %td
      .sprite-projects-yes.image
    %td
      %h2
        H1N1918 Analysis Tool
        %span#social
          %a.sprite-projects-newspaper{:href => "http://www.thelandmark.com/news/2011-05-19/Schools/WRHSs_Vaskevich_garners_national_honor.html", :target => "_blank"}
      :markdown
        Desktop software for visualization of pandemics on a macro scale, in particular the H1N1 influenzas of 1918 and 2009. Advanced to and demonstrated in the nationwide 2011 *Young Epidemiology Scholars* competition in Washington, D.C., as the sole Massachusetts representative.
      .hashtag #c++ #qt4 #epidemiology
