---
title: Projects
index: 3
---

%h2
  olegvaskevich.com
  %span#social
    %a{:href => "https://github.com/ovaskevich/olegvaskevich.com", :target => "_blank"}
      %img{:src => "/images/github.png", :width => "22px", :height => "22px"}
:maruku
  Static personal site.
.hashtag #www #nanoc #haml #ruby #html #sass #javascript #aws #s3 #cloudfront

%h2
  CurbView
  %span#social
    %a{:href => "https://twitter.com/_CurbView", :target => "_blank"}
      %img{:src => "/images/twitter.png", :width => "22px", :height => "22px"}
:maruku
  Startup to revamp finding parking in Boston by using sensors and mobile technology. Won 3rd place in NU Husky Startup Challenge '13.
.hashtag #startup #mobile #computervision #c

%h2
  Everstudent
  %span#social
    %a{:href => "https://play.google.com/store/apps/details?id=com.olegvaskevich.everstudent&hl=en", :target => "_blank"}
      %img{:src => "/images/googleplay.png", :width => "22px", :height => "22px"}
    %a{:href => "http://www.webmultimeter.com/Everstudent/", :target => "_blank"}
      %img{:src => "/images/www.png", :width => "22px", :height => "22px"}
:maruku
  Simple student planner app that also exports classes and assignments to Evernote.
.hashtag #android

%h2
  Web Multimeter
  %span#social
    %a{:href => "http://www.webmultimeter.com/WebMul/", :target => "_blank"}
      %img{:src => "/images/www.png", :width => "22px", :height => "22px"}
:maruku
  USB-connected device for displaying realtime information such as website analytics. Cross-platform software can be extended using libraries to provide extended functionality.
.hashtag #arduino #teensy #c #c++ #qt4 #www

%h2
  Print Without Ads
  %span#social
    %a{:href => "https://addons.mozilla.org/en-US/firefox/addon/print-without-ads/", :target => "_blank"}
      %img{:src => "/images/firefox.png", :width => "22px", :height => "22px"}
:maruku
  Firefox add-on for removing ads prior to printing in order to conserve ink and paper.
.hashtag #firefox #javascript #xml

%h2
  H1N1918 Analysis Tool
  %span#social
    %a{:href => "http://www.thelandmark.com/news/2011-05-19/Schools/WRHSs_Vaskevich_garners_national_honor.html", :target => "_blank"}
      %img{:src => "/images/newspaper.png", :width => "22px", :height => "22px"}
:maruku
   Pandemic macro-visualization software, demonstrated in a nationwide competition along with a comparative analysis of the H1N1 influenzas of 1918 and 2009.
.hashtag #c++ #qt4

%h2
  %code png2c
  %span#social
    %a{:href => "https://github.com/ovaskevich/png2c", :target => "_blank"}
      %img{:src => "/images/github.png", :width => "22px", :height => "22px"}
:maruku
   Utility to convert sprites and other PNG images into an embeddable bitmap C header/source file.
.hashtag #c #libpng
