---
title: Projects
index: 3
css_partials: sprites/projects
---

%table.project
  %tr
    %td
      .sprite-projects-website.image
    %td
      %h2
        olegvaskevich.com
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/olegvaskevich.com", :target => "_blank"}
          %a.sprite-projects-speedmeter{:href => "http://gtmetrix.com/reports/www.olegvaskevich.com/wRs4GdOs", :target => "_blank"}
      :maruku
        CDN-hosted personal website.
      .hashtag #www #nanoc #haml #ruby #html #sass #javascript #aws #s3 #cloudfront

%table.project
  %tr
    %td
      .sprite-projects-curbview.image
    %td
      %h2
        CurbView
        %span#social
          %a.sprite-employment-twitter{:href => "https://twitter.com/_CurbView", :target => "_blank"}
      :maruku
        Startup to revamp finding parking in Boston by using video sensors and mobile technology. Won 3<sup>rd</sup> place in NU Husky Startup Challenge '13.
      .hashtag #startup #mobile #computervision #c

%table.project
  %tr
    %td
      .sprite-projects-default.image
    %td
      %h2
        %code png2c
        %span#social
          %a.sprite-common-github{:href => "https://github.com/ovaskevich/png2c", :target => "_blank"}
      :maruku
         Utility to convert sprites and other PNG images into an embeddable bitmap C header/source file.
      .hashtag #c #libpng

%table.project
  %tr
    %td
      .sprite-projects-crashlyticspebble.image
    %td
      %h2
        Crashlytics for Pebble
      :maruku
        Pebble app for displaying basic Crashlytics statistics, created during a Twitter Hack Week in 2013.
      .hashtag #c #pebble #android #hackweek

%table.project
  %tr
    %td
      .sprite-projects-everstudent.image
    %td
      %h2
        Everstudent
        %span#social
          %a.sprite-projects-googleplay{:href => "https://play.google.com/store/apps/details?id=com.olegvaskevich.everstudent&hl=en", :target => "_blank"}
          %a.sprite-projects-www{:href => "http://www.webmultimeter.com/Everstudent/", :target => "_blank"}
      :maruku
        Simple student planner app that also exports classes and assignments to Evernote, with in-app billing & advertising. 50,000+ downloads.
      .hashtag #android

%table.project
  %tr
    %td
      .sprite-projects-wm.image
    %td
      %h2
        Web Multimeter
        %span#social
          %a.sprite-projects-www{:href => "http://www.webmultimeter.com/WebMul/", :target => "_blank"}
      :maruku
        USB-connected device for displaying realtime information such as website analytics. Cross-platform software can be extended using plug-ins to provide extended functionality. Also added audible, email, SMS, and Facebook notifications.
      .hashtag #arduino #teensy #c #c++ #qt4 #www

%table.project
  %tr
    %td
      .sprite-projects-pwa.image
    %td
      %h2
        Print Without Ads
        %span#social
          %a.sprite-projects-firefox{:href => "https://addons.mozilla.org/en-US/firefox/addon/print-without-ads/", :target => "_blank"}
      :maruku
        Firefox add-on for removing ads prior to printing in order to conserve ink and paper. Created for a high school community service project.
      .hashtag #firefox #javascript #xml

%table.project
  %tr
    %td
      .sprite-projects-yes.image
    %td
      %h2
        H1N1918 Analysis Tool
        %span#social
          %a.sprite-projects-newspaper{:href => "http://www.thelandmark.com/news/2011-05-19/Schools/WRHSs_Vaskevich_garners_national_honor.html", :target => "_blank"}
      :maruku
        Desktop software for visualization of pandemics on a macro scale, in particular the H1N1 influenzas of 1918 and 2009. Advaned to and demonstrated in the nationwide 2011 *Young Epidemiology Scholars* competition in Washington, D.C., as the sole Massachusetts representative.
      .hashtag #c++ #qt4 #epidemiology
