/* glue: 0.4 hash: 06221d0596 */
.sprite-common-twitter,
.sprite-common-stackoverflow,
.sprite-common-linkedin,
.sprite-common-github,
.sprite-common-email{background-image:url('../../images/sprites/common.png?06221d');background-repeat:no-repeat}
.sprite-common-twitter{background-position:0px 0px;width:22px;height:22px;}
.sprite-common-stackoverflow{background-position:-22px 0px;width:22px;height:22px;}
.sprite-common-linkedin{background-position:0px -22px;width:22px;height:22px;}
.sprite-common-github{background-position:-22px -22px;width:22px;height:22px;}
.sprite-common-email{background-position:-44px 0px;width:22px;height:22px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-common-twitter,
.sprite-common-stackoverflow,
.sprite-common-linkedin,
.sprite-common-github,
.sprite-common-email{background-image:url('../../images/sprites/common@2x.png?06221d');-webkit-background-size: 66px 44px;-moz-background-size: 66px 44px;background-size: 66px 44px;}}
