/* glue: 0.4 hash: 7e5a661269 */
.sprite-education-wachusett,
.sprite-education-northeastern,
.sprite-education-northeastern-bw{background-image:url('../../images/sprites/education.png?7e5a66');background-repeat:no-repeat}
.sprite-education-wachusett{background-position:0px 0px;width:215px;height:215px;}
.sprite-education-northeastern{background-position:-215px 0px;width:215px;height:215px;}
.sprite-education-northeastern-bw{background-position:0px -215px;width:215px;height:215px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-education-wachusett,
.sprite-education-northeastern,
.sprite-education-northeastern-bw{background-image:url('../../images/sprites/education@2x.png?7e5a66');-webkit-background-size: 430px 430px;-moz-background-size: 430px 430px;background-size: 430px 430px;}}
