/* glue: 0.4 hash: 16e4b5b54c */
.sprite-projects-yes,
.sprite-projects-wm,
.sprite-projects-website,
.sprite-projects-pwa,
.sprite-projects-everstudent,
.sprite-projects-default,
.sprite-projects-curbview,
.sprite-projects-crashlyticspebble,
.sprite-projects-www,
.sprite-projects-newspaper,
.sprite-projects-googleplay,
.sprite-projects-firefox{background-image:url('../../images/sprites/projects.png?16e4b5');background-repeat:no-repeat}
.sprite-projects-yes{background-position:0px 0px;width:75px;height:75px;}
.sprite-projects-wm{background-position:-75px 0px;width:75px;height:75px;}
.sprite-projects-website{background-position:0px -75px;width:75px;height:75px;}
.sprite-projects-pwa{background-position:-75px -75px;width:75px;height:75px;}
.sprite-projects-everstudent{background-position:-150px 0px;width:75px;height:75px;}
.sprite-projects-default{background-position:-150px -75px;width:75px;height:75px;}
.sprite-projects-curbview{background-position:0px -150px;width:75px;height:75px;}
.sprite-projects-crashlyticspebble{background-position:-75px -150px;width:75px;height:75px;}
.sprite-projects-www{background-position:-150px -150px;width:22px;height:22px;}
.sprite-projects-newspaper{background-position:-172px -150px;width:22px;height:22px;}
.sprite-projects-googleplay{background-position:-194px -150px;width:22px;height:22px;}
.sprite-projects-firefox{background-position:-150px -172px;width:22px;height:22px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-projects-yes,
.sprite-projects-wm,
.sprite-projects-website,
.sprite-projects-pwa,
.sprite-projects-everstudent,
.sprite-projects-default,
.sprite-projects-curbview,
.sprite-projects-crashlyticspebble,
.sprite-projects-www,
.sprite-projects-newspaper,
.sprite-projects-googleplay,
.sprite-projects-firefox{background-image:url('../../images/sprites/projects@2x.png?16e4b5');-webkit-background-size: 225px 225px;-moz-background-size: 225px 225px;background-size: 225px 225px;}}
