$main-text-color: #333;
$primary-color: #008fb2;
$primary-color-hover: #33d6ff;
$selection-color: #eee;
$selection-background-color: #4c4c4c;
$main-content-width: 750px;
$sidebar-width: 150px;

@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/background-size";
@import "animation";
@import "sprites/common";
@import "mixins";
@import "font-effects";
@import "animations";
@import "cards";
@import "jscrollpane";

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    background: url("/images/bg.jpg") black;
    @include background-size(cover);
    margin: 0;
    height: 100%;
    width: 100%;
    @include box-sizing(border-box);
}

.align-bottom {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
}

@include selection($selection-color, $selection-background-color);

a {
    text-decoration: none;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:link, &:visited {
        color: $primary-color;
    }

    &:hover {
        color: $primary-color-hover;
    }
}

table.project {
    border: none;

    td {
        vertical-align: top;
        margin-right: 0.2em;
        margin-bottom: 0.4em;
    }

    h2 {
        margin-top: 0;
    }

    .image {
        margin-top: 0.6em;
        margin-right: 0.4em;
    }
}


code {
    font-family: "Courier New", Courier, monospace;
}

#wrapper {
    height: 95%;
    min-height: 95%;
    width: $main-content-width;
    position: relative;
    display: block;
    margin: 0 auto;
    background: white;
    border: 2px solid black;
    @include border-radius(0 0 20px 20px);
    overflow: hidden;
    @include animation-name(borderAnimation);
    @include animation-duration(15s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include animation-fill-mode(both);
}

#footer {
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 40;
    width: $main-content-width - $sidebar-width - 80;
    z-index: 200;
    @include background-gradient((
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    ));
}

#footer-content {
    width: 100%;
    color: $main-text-color;
    margin-bottom: -1em;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 12px;    
}

#main {
    position: absolute;
    top: 0px;
    bottom: 10px;
    right: 175px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 1em;
    margin-left: 0px;
    height: 100%;
    width: $main-content-width - $sidebar-width - 70;
    outline: none;
    overflow-y: auto;

    h1 {
        font-size: 40px;
        font-weight: normal;
        font-variant: small-caps;
        font-style: oblique;
        line-height: 40px;
        letter-spacing: -1px;
        margin-bottom: 0.5em;
        margin-top: 8px;
        margin-left: 10px;

        &.line {
            overflow: hidden;
            text-align: left;
            margin-left: -20px;
            margin-top: 0;
            padding-left: 15px;

            &:before,
            &:after {
                background-color: #000;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
            }
            &:before {
                right: -0.15em;
                width: 50%;
                margin-left: -50%;
            }
            &:after {
                left: 0.1em;
                width: 70%;
                margin-right: -70%;
            }
        }
    }

    h2 {
        margin-bottom: -0.8em;
    }

    p {
        margin: 20px 0;
        font-size: 15px;
        line-height: 20px;
    }

    sup {
        vertical-align: top;
    }

    .position {
        margin-bottom: 0.7em;
    }

    .when {
        font-style: italic;
    }
}

#main-extender {
    float: left;
    position: relative;
    height: 2.5em;
    width: 100%;
}

.hashtag {
    margin-top: -1em;
    color: orange;
}

#name {
    font-size: 20px;
    color: #ddd;
    @include text-shadow(0px 2px 3px #555);
    margin-bottom: 1em;
    cursor: default;
}

#picture {
    margin-left: 10px;
    @include single-box-shadow;
    @include border-radius(20px);
}

/* BEGIN SIDEBAR */

#sidebar {
    position: relative;
    top: 5px;
    left: $main-content-width - $sidebar-width - 10px;
    width: $sidebar-width;
    @include animation-name(sidebarAnimation);
    @include animation-duration(12s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include animation-fill-mode(both);
    padding: 30px 0 0 10px;
    margin-top: -10px;
    height: 100%;
    border-left: 1px solid #444;
    @include box-shadow(-5px -5px 16px 0px #444);
    text-align: left;

    a.nav, span.active {
        display: block;
        text-transform: lowercase;
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        line-height: 20px;
        visibility: hidden;
    }

    a.nav:hover {
        color: $primary-color-hover;
    }

    span.active {
        color: $primary-color;
        font-weight: bolder;
    }

    #email-link-compat {
        color: white;
    }
}

#social {
    a {
        display: inline-block;
        text-transform: lowercase;
        letter-spacing: 1px;
        line-height: 20px;
        position: relative;
        @include transition-property(all);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease);
        visibility: hidden;

        &:hover {
            @include transform(rotate(360deg));
        }
    }
}

#sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 2em;
    margin-left: 1em;
}

/* like a bubble. see animations.css too for email-container-active class */
#email-container {
    left: 0;
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 180px;
    font-size: 18px;
    text-align: center;
    z-index: 1500;
    line-height: 180px;
    margin: 0 auto;
    border: 1px solid rgba(51, 204, 255, 0.75);
    @include border-radius(90px);
    @include background-image(linear-gradient(top, rgba(48,186,255,0.74) 0%, rgba(229,246,249,0.48) 100%));

    &::after {
        padding-top: 100%;
        display: block;
        content: '';
    }

    span {
        font-size: 13px;
    }
}

#email-link {
    display: none;
    cursor: pointer;
    overflow: hidden;
    @include opacity(1.0);
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

}

#noscript-warning {
    font-family: sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: red;
    padding: 5px 0px;
}
