$card-back-color: #ccc;

.card {
    float: left;
    width: 215px;
    height: 215px;
    margin: 20px;
    position: relative;
    cursor: pointer;
    font-size: .8em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include perspective(600px);

    .front, .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border: 1px solid #ccc;
        padding: 5px;
        @include transform-style(preserve-3d);
        @include backface-visibility(hidden);
        @include transition-property(all);
        @include transition-duration(.4s);
        @include transition-timing-function(ease-in-out);
    }

    .front {
        z-index: 90;
        background: #6b7077;
        text-align: center;
        @include text-shadow(0px 2px 4px #eee);
        @include box-shadow(0 1px 5px rgba(0,0,0,0.9));

        @include transform(rotateY(0deg));
    }

    &.flip .front {
        z-index: 90;
        border-color: #eee;
        background: #333;
        @include box-shadow(0 15px 50px rgba(0,0,0,0.2));

        @include transform(rotateY(180deg));
    }

    .back {
        z-index: 80;
        background: $card-back-color;
        @include text-shadow(1px 1px 1px rgba(0,0,0,0.6));

        @include transform(rotateY(-180deg));
    }

    &.flip .back {
        z-index: 100;
        background: $card-back-color;

        @include transform(rotateY(0deg));
        @include box-shadow(0 15px 50px rgba(0,0,0,0.2));
    }
}
